django
dj-database-url
djangorestframework      
djangorestframework_simplejwt
pillow
psycopg2-binary
gunicorn
whitenoise
boto3
django-cors-headers
python-dotenv    
django-allauth  
requests
redis
django-celery-beat
django-redis
stripe
django-schema-viewer
django-filter
channels
channels-redis
daphne
argon2-cffi
django-unfold
django-summernote
drf-yasg
django-tinymce==5.0.0
django-import-export
xhtml2pdf
