django
dj-database-url
djangorestframework      
djangorestframework_simplejwt
pillow
psycopg2-binary
gunicorn
whitenoise
boto3
django-cors-headers
python-dotenv    
django-allauth  
requests
redis
django-celery-beat
django-redis
stripe
django-schema-viewer
stripe
django-filter
channels
channels-redis
daphne
gunicorn
argon2-cffi
django-unfold
django-summernote
drf-yasg
django-tinymce==3.2.1 