{% extends "admin/base.html" %}
{% load i18n static unfold %}

{% block content %}
<div class="grid grid-cols-1 md:grid-cols-4 gap-6 my-8">

    <div class="bg-green-500 text-white p-6 rounded-2xl shadow">
        <div class="text-3xl mb-2">📦 {{ total_bookings }}</div>
        <div class="text-lg font-semibold">{% trans "Total Bookings" %}</div>
    </div>

    <div class="bg-blue-600 text-white p-6 rounded-2xl shadow">
        <div class="text-3xl mb-2">👤 {{ total_users }}</div>
        <div class="text-lg font-semibold">{% trans "Total Users" %}</div>
    </div>

    <div class="bg-yellow-500 text-white p-6 rounded-2xl shadow">
        <div class="text-3xl mb-2">💰 ${{ total_earning }}</div>
        <div class="text-lg font-semibold">{% trans "Total Earning" %}</div>
    </div>

    <div class="bg-pink-500 text-white p-6 rounded-2xl shadow">
        <div class="text-3xl mb-2">🏠 {{ total_rental }}</div>
        <div class="text-lg font-semibold">{% trans "Total Rentals" %}</div>
    </div>
</div>
{% endblock %}
